@charset 'utf-8';
body,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{ margin:0;}
ul,ol{margin:0;padding:0;list-style: none;}
img{border:0;}
a{color:#333;text-decoration: none;}
table{border-collapse:collapse;border-spacing:0;}
input,button{padding:0;border-width:1px;border-color:#ddd;border-style:solid;}
input[type='radio'], input[type='checkbox']{margin:0;}
textarea{padding:0;border-color:#ddd;}
input[type='file']{border:none;}